#DATABASE CONFIG
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

#DATABASE CONNECTION (LEAVE AS IS IF USING DOCKER)
DB_HOST=mysql_db
DB_PORT=3306

#EXPRESS SERVER PORT
PORT=3000
#JWT TOKEN
SECRET_ACCESS_TOKEN=

#S3 CELLAR CONFIG
CELLAR_ADDON_HOST=
CELLAR_ADDON_KEY_ID=
CELLAR_ADDON_KEY_SECRET=
CELLAR_ADDON_BUCKET=

#MONGODB CONNECTION (LEAVE AS IS IF USING DOCKER)
MONGO_URI=mongodb://mongo_db:27017/talker
