.examenes-student{
    display: flex;
    flex-direction: column;
}

.available{
    margin: 2rem;
    text-align: left;
}

.available h2{
    color: #000000;
}

.exam-available{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.exam-available h3{
    color: black;
}

.exam-detail{
    background-color: #FFFFFF;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    width: 100%;
    text-align: left;
}

.exam-button{
    margin-top: 0.5rem;
    background-color: #252467;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 20px;
}

.exam-results{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.exam-calification-student{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.exam-calification{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.student-cal{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.circle-calification-student{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: #93ED93;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.circle-calification-student,
.student-exam-detail h3{
    color: #000000;
}

.exam-cal-button{
    background-color: #6883BA;
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 20px;
}

.pass{
    background-color: #F3E690;
}

