.dashboard{
    color: black;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem;
    height: 100%;
}

.left-rectangles{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 5;
    
}

.right-rectangles{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 3;
    
}

.rectangle-one,
.rectangle-two,
.rectangle-three,
.rectangle-four{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1rem;
    text-align: left;
}